<div fullscreen fullscreen-no-pdt class="modal-photo">
	<div class="wrapper-view-img">
		<div class="view-img-detail">
			<img [src]="data.path" alt="">
			<div class="btn-wrapper">
				<ion-button size="small" fill="clear" class="text-white" (click)="dismiss()">
					<ion-icon class="fs-24" name="ios-close"></ion-icon>
				</ion-button>

				<div text-right float-right>
					<ion-button size="small" fill="clear" class="text-white" (click)="unsplashService.doFavorite(data)">
						<ion-icon class="fs-16" name="md-heart-empty" *ngIf="!data.isFavorite"></ion-icon>
						<ion-icon class="fs-16" name="md-heart" *ngIf="data.isFavorite"></ion-icon>
					</ion-button>

			         <ion-button size="small" fill="clear" class="text-white" (click)="unsplashService.doShare(data)">
						<ion-icon class="fs-16" name="md-share"></ion-icon>
					</ion-button>

					<ion-button size="small" fill="clear" class="text-white" (click)="unsplashService.doOpen(data)">
						<ion-icon class="fs-16" name="md-open"></ion-icon>
					</ion-button>

					<ion-button size="small" fill="clear" class="text-white" (click)="unsplashService.doDownload(data)">
						<ion-icon class="fs-16" name="md-download" ></ion-icon>
					</ion-button>
				</div>
			</div>
		    <h5 class="title fs-13" [innerHTML]="data.title"></h5>
		</div>
	</div>
</div>


