
<ion-header class="parallax-obj parallax-translate-obj header-transparent">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="ios-arrow-round-back"></ion-back-button>
    </ion-buttons>
    <ion-title>{{page_name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen common-parallax [scrollEvents]="true">
  	
	<component-slides-mold *ngIf="page_path == 'slides-mold' "></component-slides-mold>
	<component-slides-options *ngIf="page_path == 'slides-options' "></component-slides-options>

</ion-content>
